<%- include('../partials/header') %>
<h1><%=title%></h1>
<p>Boxing is a combat sport in which two fighters engage in a contest of strength, speed, reflexes, endurance, and skill by throwing punches at each other while wearing padded gloves within a boxing ring. </p>    
<p>I have been boxing for a couple of years now. It is a sport that keeps me in a good shape both mentaly and physically. </p>    
<p>Below is a picture of me sparring. </p>    
<img class = "page-pic" src = "../images/boxing.jpg" width=500 height=400>

<%- include('../partials/footer') %> 