<%- include('../partials/header') %>
<h1><%=title%></h1>

  <img class = "page-pic" src = "../images/chess.jpg" width=400 height=200>
<p>Chess is a two-player board game played on a checkered board with 64 squares arranged in an 8x8 grid. Each player starts with 16 pieces, consisting of one king, one queen, two rooks, two knights, two bishops, and eight pawns.</p>    

<p>The objective of the game is to checkmate the opponent's king, which means putting the king in a position where it is under attack and cannot escape capture on the next move </p>  

<p>I started playing chess when I was 15. It is the only game I play and never get tired of. I do not enjoy video games as much as I enjoy playing chess</p>  

  

<%- include('../partials/footer') %> 