
<%- include('../partials/header') %>
<h1><%=title%></h1>
  <img class = "page-pic" src = "../images/welcome.jpg" width=400 height=200>


<p>Welcome to my Home page. This site was built usiing Node.js, Express.js and EJS</p>    
<p>In these next pages I'll cover some of the topic that interest me</p>    

<%- include('../partials/footer') %>    