<%- include('../partials/header') %>
<h1><%=title%></h1>
<p>Soccer is my favorite sport. It is the sport I grew up playing and that brings me the most joy</p>    
<p>Soccer is called football in many parts of the world. It is a team sport played between two teams of eleven players each. Soccer is one of the most popular sports in the world, with millions of fans and players from all corners of the globe.<p> 
<p>Below is a picture of one og my favorite soccer players. Watching him play with a smile on his face and doing incredible tricks made fall in love with the sport. </p>  
<img class = "page-pic" src = "../images/ronaldinho.jpg" width=400 height=200 >

  
<%- include('../partials/footer') %> 